
/* Variables de color */
:root {
  --background-color--background-primary: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --link-color--link-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--black);
  --border-color--border-primary: var(--base-color-neutral--black);
  --base-color-neutral--black: black;
  --base-color-neutral--white: white;
  --black-archive\<deleted\|variable-dccb7db6\>: black;
  --background-color--background-secondary: var(--base-color-neutral--neutral-lightest);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --background-color--background-tertiary: var(--base-color-neutral--neutral-light);
  --background-color--background-alternate: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --background-color--background-success: var(--base-color-system--success-green-light);
  --text-color--text-success: var(--base-color-system--success-green);
  --background-color--background-error: var(--base-color-system--error-red-light);
  --text-color--text-error: var(--base-color-system--error-red);
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-brand--black: black;
  --base-color-brand--white: white;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #027a48;
  --base-color-system--success-green-light: #ecfdf3;
  --base-color-system--error-red: #b42318;
  --base-color-system--error-red-light: #fef3f2;
  --border-color--border-secondary: var(--base-color-neutral--neutral-light);
  --border-color--border-alternate: var(--base-color-neutral--white);
  --link-color--link-secondary: var(--base-color-neutral--neutral-light);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

/* Estilos de la navbar */
.navbar_component{
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  background-color: var(--base-color-neutral--white);
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navbar_container{
  width: 100%;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .375fr 1fr .375fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}


